In [2]:
import pandas as pd

In [3]:
ing = pd.read_csv('data/ingredientcalories.csv')

In [4]:
def get_list(ing_list):
  lower_list = list(map(str.lower, ing_list))
  cleaned = ing[ing['FoodItem'].str.lower().isin(lower_list)].drop_duplicates('FoodItem')
  cleaned['Cals_per100grams'] = cleaned['Cals_per100grams'].map(lambda x : eval(x[:-4]))
  cleaned.sort_values(by=['Cals_per100grams'], inplace=True)
  display(cleaned[['FoodItem', 'Cals_per100grams']])

In [8]:
get_list(['Applesauce', 'Lentils', 'Fenugreek'])

['a', 'b', 'c']

        FoodItem  Cals_per100grams
0     Applesauce                62
2001   Fenugreek               323
1667     Lentils               353